<app-header [showBackButton]="true" title="Balíčky" [secondaryColor]="true"></app-header>
<ion-content [fullscreen]="true">
  <div class="cake-wrapper">
    <img src="/assets/cake.svg" class="cake">
  </div>
  <div class="button-desc">Pre nákup balíčkov musíte byť pripojený na internet</div>

  <app-loader [hide]="!!productService.products"></app-loader>
  <div class="product" *ngFor="let product of productService.products;">
    <div class="wrapper shadow-colored">
      <div class="upper-row">
        <div class="text-wrapper">
          <div class="title">{{product.rimkaPackageType}}</div>
          <ion-button mode="ios" (click)="buy(product)" appTouch *ngIf="!product?.owned && !productService.products[0]?.owned">Kúpiť</ion-button>
<!--        !!!!!!!!!!!!!  TODO add disabled="disabled" when testing of payments will be done !!!!!!!!!!-->
          <ion-button mode="ios" (click)="buy(product)" appTouch *ngIf="product?.owned || productService.products[0]?.owned" class="owned" disabled="disabled">Zakúpené
            <ion-icon name="checkmark-circle"></ion-icon>
          </ion-button>
        </div>
        <div class="subtitle">{{product?.title}}</div>
      </div>
      <div class="lower-row">
        <div>+ {{product?.recipesCount}} receptov</div>
        <div>{{product?.price}}</div>
      </div>
    </div>
    <div class="accordion" *ngIf="!product.details">
      <div class="header">{{product.description}}</div>
    </div>
    <div class="accordion" *ngIf="product.details" (click)="product.collapsed = !product.collapsed">
      <div class="header">
        <div class="title">{{product.description}}</div>
        <ion-icon name="caret-up-outline" [ngClass]="{'down': product.collapsed}"></ion-icon>
      </div>
      <div [@slideInOut]="product.collapsed ? 'out' : 'in'" class="content" [innerHTML]="product.details"></div>
      <div *ngIf="product.collapsed" class="white-shadow"></div>
    </div>
  </div>
  <div class="refresh-wrapper">
    <h3>Obnovenie balíčkov po prechode na nové zariadenie</h3>
    <div class="button-desc" *ngIf="!isIos">1. Kliknite na <strong>Kúpiť</strong> pri balíčkoch alebo receptároch, ktoré už vlastníte na inom zariadení s rovnakým účtom. O tom, či balíček naozaj vlastníte, budete informovaný v platobnom okne.</div>
    <div class="button-desc" *ngIf="!isIos">2. Potom kliknite na tlačidlo <strong>Obnoviť zakúpené balíčky</strong>, čím sa zakúpené balíčky prenesú aj do tohto zariadenia.</div>
    <div class="button-desc" *ngIf="isIos">Kliknite na tlačidlo <strong>Obnoviť zakúpené balíčky</strong>, čím sa zakúpené balíčky prenesú aj do tohto zariadenia.</div>
    <div class="button-desc"><strong>Upozornenie:</strong> Obnovenie balíčkov je možné len v rámci jedného operačného systému a zároveň musíte používať ten istý Google/Apple účet</div>
    <ion-button (click)="restorePurchases()" mode="ios" appTouch>
      Obnoviť zakúpené balíčky
    </ion-button>
  </div>
</ion-content>
