.cake-wrapper {
  text-align: center;
  margin-top: 13px;
  .cake {
    filter: var(--filter-secondary-color);
  }
}

.product {
  margin: 10px 25px 30px;
}

.wrapper {
  background: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
  color: white;

  .upper-row {
    padding: 15px 20px;
    font-weight: 700;

    .text-wrapper {
      display: flex;
      justify-content: space-between;
      .title {
        font-size: 30px;
        line-height: 30px;
      }
    }
    .subtitle {
      font-size: 16px;
    }
  }
  .lower-row {
    padding: 0 20px;
    background: #549AAB;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    font-size: 16px;
    font-weight: 700;
  }

  ion-button {
    --background: white;
    --background-activated: var(--secondary-light-color);
    --border-radius: 33px;
    --padding-start: 25px;
    --padding-end: 25px;
    color: var(--secondary-color);
    height: 32px;
    font-weight: 700;

    ion-icon {
      margin-left: 10px;
    }
  }

}

.description {
  color: var(--text-color);
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
  margin-bottom: 14px;
}

.ingredients-item {
  color: var(--text-color);
  font-size: 14px;
  line-height: 19px;
}

.ingredients-item-bullet {
  filter: var(--filter-secondary-color);
  margin-right: 9px;
}

.accordion {
  border-bottom: 1px solid var(--header-bg-color);
  position: relative;
  .header {
    display: flex;
    font-weight: bold;
    color: var(--accent-color);
    padding-top: 18px;
    .title {
      flex-grow: 1;
    }

    ion-icon {
      transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      &.down {
        transform: rotate(180deg);
      }
    }
  }
  .content {
    color: var(--text-color);
    //margin-top: 17px;
    font-size: 14px;
  }

  .white-shadow {
    height: 70px;
    position: absolute;
    bottom: -1px;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }
}
.button-desc {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 16px;
  text-align: center;
}

.refresh-wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  ion-button {
    --background: var(--secondary-color);
    --background-activated: var(--secondary-light-color);
    --border-radius: 33px;
    --padding-start: 25px;
    --padding-end: 25px;
    height: 32px;
    font-weight: 700;
    max-width: 100%;
  }
}
