<div class="wrapper shadow-colored" appTouch [routerLink]="recipe.owned && 'detail/'+recipe.id">
  <div class="lock-overlay" *ngIf="!recipe.owned" routerLink="products">
    <div class="locked">
      Odomknúť
    </div>
  </div>
  <img class="image" [src]="recipe?.mainImage" appNoImage>
  <div class="text">
    <div class="title">{{recipe?.title}}</div>
  </div>
</div>
