@import "src/theme/colors";

.wrapper {
  overflow: hidden;
  color: var(--text-color);
  font-size: 14px;
  line-height: 14px;
  background: $background;
  border-radius: 10px;
  outline: none;
  position: relative;

  .image {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .text {
    padding: 9px;
  }

  .title {
    font-weight: bold;
    text-transform: uppercase;
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 28px;
  }

  .description {
  }
}

.locked {
  font-size: 20px;
  position: absolute;
  top: 50%;
  z-index: 11;
  transform: translateY(calc(-50% - 15px));
  width: calc(100% - 30px);
  text-align: center;
  background: #f5a1c5;
  line-height: 40px;
  border-radius: 5px;
  color: white;
  margin: 15px;
}

.lock-overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.72);
  position: absolute;
  border-radius: 10px;
}
