<app-header title="Kontakt"></app-header>
<ion-content [fullscreen]="true">
  <div class="wrapper">
    <img src="assets/full-siluette.svg" class="silhouette">

    <div class="contact">
      <div class="labels">
        <p>Meno:</p>
        <p>Telefón:</p>
        <p>Email:</p>
      </div>
      <div class="values">
        <p>Klaudi Rimka</p>
        <a href="tel:+421940326112" appTouch>+421 940 326 112</a>
        <a href="mailto:klaudi.rimka@gmail.com" appTouch>klaudi.rimka@gmail.com</a>
      </div>
    </div>
    <div class="social">
      <img src="assets/icon/icon-fb.svg" (click)="openFb()" appTouch>
      <img src="assets/icon/icon-instagram.svg" (click)="openInsta()" appTouch>
    </div>
    <div class="subtitle">Chlop v kuchni</div>
    <a href="https://www.instagram.com/chlop_v_kuchni" class="url" appTouch>www.instagram.com/chlop_v_kuchni</a>
    <br>
    <div class="subtitle">Design & Ilustrácie</div>
    <div class="text">MIOBI Studio</div>
    <a href="http://www.miobi-photography.com" class="url" appTouch>www.miobi-photography.com</a>
    <div class="dots">.......................................................</div>
    <div class="subtitle">Vytvoril</div>
    <div class="text">Jozef Orenič</div>
    <a href="http://invelogy.sk" class="url" appTouch>www.invelogy.sk</a>
    <br>
    <div class="subtitle" (click)="clearCache()">Vymazať cache pamäť tejto aplikácie</div>
  </div>
</ion-content>
