.silhouette {
  margin-top: 30px;
  position: absolute;
  z-index: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.contact {
  color: var(--light-text-color);
  position: relative;
  padding-top: 305px;
  display: flex;
  .labels {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 22px;
    padding-right: 12px;
    text-align: right;
  }

  .values {
    font-weight: bold;

    a {
      color: inherit;
      display: inherit;
      text-decoration: none;
      margin: 16px 0;
    }
  }
}

.social {
  display: flex;
  z-index: 1;
  margin-bottom: 24px;
}

.subtitle {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.text {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}
.url {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: var(--accent-color);
  opacity: 0.5;
  text-decoration: none;
}
.dots {
  font-size: 10px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.095em;
  color: var(--accent-color);
  opacity: 0.3;
}
