.cake {
  filter: invert(1);
}

.wrapper {
  color: white;
  background: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 25px 30px;
  padding: 15px 20px;
  font-weight: 700;
  .text-wrapper {
    flex-grow: 1;
    padding-left: 15px;
    .title {
      font-size: 30px;
      line-height: 30px;
    }

    .subtitle {
      font-size: 16px;
    }
  }

  ion-button {
    --background: var(--secondary-light-color);
    --background-activated: var(--secondary-color);
    --border-radius: 33px;
    --padding-start: 25px;
    --padding-end: 25px;
    height: 32px;
    font-weight: 700;
  }
}
