<div class="wrapper shadow-colored">
  <img src="/assets/cake.svg" class="cake">
  <div class="text-wrapper">
    <div class="title">Balíčky</div>
    <div class="subtitle">s receptami</div>
  </div>
  <ion-button mode="ios" routerLink="products" appTouch>Kúpiť</ion-button>
</div>
