:host {
  display: initial;
  position: relative;
}

.gallery {
  height: 100%;
  position: relative;

  ion-slides {
    height: 100%;
  }
}

.close {
  position: absolute;
  right: 0;
  margin-top: 5px;
  padding: 10px;
  top: env(safe-area-inset-top);
  z-index: 100000000;

  img {
    filter: invert(1); // white color
  }
}
