<div class="gallery">
  <div class="close" appTouch (click)="closeGallery()">
    <img src="assets/icon/icon-close.svg">
  </div>
  <ion-slides #slides pager="true" [options]="{initialSlide: selectedImageIndex}" (ionSlidesDidLoad)="slideDidLoad($event)">
    <ion-slide *ngFor="let image of images">
      <img [src]="image" appNoImage>
    </ion-slide>
  </ion-slides>
</div>
