<div (click)="!item.includes('strong') && addToShoppingList(item)">
  <img src="assets/icon/icon-bullet.svg" class="ingredients-item-bullet"
       *ngIf="!item.includes('strong')"
       [ngClass]="{selected: shoppingListService?.hasItemInShoppingList(item)}">
  <span [innerHTML]="item" class="ingredients-item"></span>
</div>
