.ingredients-item {
  color: var(--text-color);
}

.ingredients-item-bullet {
  filter: var(--filter-primary-color);
  margin-right: 9px;

  &.selected {
    filter: var(--filter-accent-color);
  }
}
