@import "src/theme/colors";

.header {
  padding-top: constant(safe-area-inset-top); // for ios 11.1
  padding-top: env(safe-area-inset-top); // for ios 11.2 and onwards

  position: relative;
  z-index: 1;
  height: calc(60px + env(safe-area-inset-top));
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background:var(--header-bg-color);
  backdrop-filter: saturate(180%) blur(10px);
  transition: background .5s ease-in-out;
  padding-right: 46px; // same margin width as back icon

  &.with-title {
    padding-right: 0;

    img {
      position: absolute;
      left: 0;
    }
  }

  &.secondary {
    background: var(--header-secondary-bg-color);
  }

  .logo {
    flex-grow: 1;
    transition: all .3s ease-out;
    img {
      height: 32px;
      transition: margin .3s ease-in-out;
    }
    .left {
      margin-left: 32px;
    }

    .right {
      margin-right: 95px;
    }
  }

  .logo-minor {
    transform: scale(0.5);
    opacity: 0.5;
    flex-grow: 0;

    .left, .right {
      margin: 0;
    }
  }

  .title {
    font-weight: 500;
    position: absolute;
    bottom: 22px;
    font-size: 19px;
    color: var(--text-color);
  }
}
