<div class="header" *ngIf="!title">
  <img [style.visibility]="showBackButton ? 'visible' : 'hidden'" src="assets/icon/icon-back.svg" (click)="goBack()">
  <div class="logo"
       [style.visibility]="showBackButton && recipeBookService.selectedRecipeBook !== RecipeBookEnum.RIMKA ? 'hidden' : 'visible'"
       [ngClass]="{'logo-minor': recipeBookService.selectedRecipeBook !== RecipeBookEnum.RIMKA}">
    <img src="/assets/logo-rimka.svg" class="left" (click)="toggleRecipeBook()">
  </div>
  <div class="logo"
       [style.visibility]="showBackButton && recipeBookService.selectedRecipeBook !== RecipeBookEnum.CHLOP ? 'hidden' : 'visible'"
       [ngClass]="{'logo-minor': recipeBookService.selectedRecipeBook !== RecipeBookEnum.CHLOP}">
    <img src="/assets/logo-chlop.svg" class="right" (click)="toggleRecipeBook()">
  </div>
</div>
<div class="header with-title" *ngIf="title" [ngClass]="{secondary: secondaryColor}">
  <img [style.visibility]="showBackButton ? 'visible' : 'hidden'" src="assets/icon/icon-back.svg" (click)="goBack()">
  <div class="title">{{title}}</div>
</div>
