ion-slides {
  height: 40vh;
  --bullet-background: white;
  --bullet-background-active: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  ion-slide {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
