<app-header title="O mne"></app-header>
<ion-content [fullscreen]="true">
  <div class="photo-wrapper">
    <img src="assets/bg-about.svg" class="bg">
    <img src="assets/klaudia.jpg" class="photo">
  </div>
  <div class="text">
    <div class="title">Volám sa Klaudia</div>
    <p>ale všetci ma volajú Klaudi, Kinka alebo Rimka. Narodila som sa v Košiciach a stále som hrdou východniarkou. Som tak trochu ukecanejšia , živšia povaha a veľmi často roztržitá a rozlietaná na všetky strany, pretože v hlave mám naraz často kopec nových nápadov. Ale vraj som aj usmievavá a priateľská, tak snáď mi neklamú a je to tak. Vyštudovala som učiteľstvo histórie a anglického jazyka, no už počas štúdia ma zlákala iná cesta. Napriek veľmi dobrému vzťahu k deťom, ma viac začalo baviť pečenie koláčikov. Počiatky neboli veľmi ružové, lebo mi zhoreli aj prvé muffinky, ale časom som sa dostala až do takého štádia, že som popri vysokej škole spravila aj cukrárske skúšky a stala sa tak oficiálne cukrárkou. K tomuto malému snu som sa dostala vďaka podpore a aj trpezlivosti rodičov, ktorí museli zvládať zašpinenú kuchyňu a kopec riadu pri mojich pokusoch o nové recepty.</p>
    <div><img src="assets/cake2.svg"></div>
    <p>A hlavne môžem ďakovať môjmu manželovi Lukášovi, ktorý ma už od začiatku nášho vzťahu veľmi podporoval. Zistila som, že tak ako mňa baví pečenie, tak obratný je on v kuchyni pri varení. Keďže je tiež rodený východniar z malej dedinky Kašov pri Trebišove, rád rozpráva východniarskym nárečím. To spoločne s jeho svojským humorom oslovilo mnohých mojich sledovateľov na Instagrame a tak sa objavil popri Rimke aj „Chlop v kuchni“. Recepty, ktoré vytvoril sú taktiež napísané v jeho rodnom nárečí, čo sa trochu odlišuje od bežných receptov, ktoré môžete na internete či Instagrame nájsť.
    </p>
    <div><img src="assets/cake3.svg"></div>
    <p>
      Nakoľko som dostávala mnoho otázok, či nechcem vydať knihu, nedalo mi o tom neuvažovať. Kniha ma však veľmi nelákala, ale spolu s Lukášom nám napadlo niečo možno v dnešnej dobe aktuálnejšie a praktickejšie – skúsiť naše recepty spracovať do aplikácie. Našťastie mám vo svojom okolí veľmi šikovných ľudí, ktorí sa venujú IT oblasti alebo grafike a keď som sa s nimi dala dokopy, vedela som, že z nášho nápadu niečo vznikne. Trvalo to rok aj viac, presedeli sme nad počítačom hodiny a hodiny, no nakoniec je to tu – naša aplikácia, ktorá poslúži snáď každému, kto doma aspoň trošku pečie alebo varí.
    </p>
    <p>
      Verím a dúfam, že s ňou budete spokojní. Možno sa nie len inšpirujete našimi receptami, ale obľúbite si ich tak, že s trochou fantázie si vytvoríte aj svoje vlastné.  Snáď sa stane vašim malým pomocníkom v kuchyni a siahnete po nej, keď príde doma čas kuchtenia.
    </p>
    <img src="assets/head.svg" width="197">
    <p class="highlight">ĎAKUJEME, že sa vám naša tvorba páči a veríme, že tomu bude tak aj naďalej.
    </p>
    <p>Vaša Rimka a Chlop v kuchni</p>
  </div>
</ion-content>
