.photo-wrapper {
  width: 100%;
  display: grid;
  .bg {
    margin-top: -100px;
    width: 100%;
    position: absolute;
    z-index: 0;
    max-height: 500px;
  }

  .photo {
    max-width: 300px;
    width: 75vw;
    z-index: 1;
    border-radius: 49%;
    border: 10px solid white;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));
    position: relative;
    margin: 30px auto 0;
  }
}

.title {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 26px;
  line-height: 18px;
  text-align: left;
  align-self: flex-start;
}
.text {
  color: var(--text-color);
  text-align: justify;
  line-height: 18px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 57px 57px 20px;
}

.highlight {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--accent-color);
}
