<ion-tabs>

  <ion-tab-bar slot="bottom" [translucent]="true">
    <ion-tab-button mode="ios"  *ngFor="let tab of tabs; let i = index" [tab]="'tab' + (i + 1)" appTouch [class]="'tab' + (i + 1)">
      <img [src]="tab.icon" class="icon">
      <ion-label>{{tab.label}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
