@import "~src/theme/colors";

ion-tab-bar{
  background: $white;
  height: 74px;
  border: none;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  transition: height 0.5s ease-in-out;

  &.ios {
    margin-bottom: -10px;
  }

  &.hide-bar {
    height: 0;
  }
  ion-tab-button {
    background: $white;
    color: var(--text-color);

    ion-label {
      font-size: 11px;
      line-height: 16px;
    }

    &.tab-selected {
      color: var(--accent-color);
      .icon {
        filter: var(--filter-accent-color);
      }
    }

    .icon {
      width: 27px;
      height: 27px;
      background-repeat: no-repeat;
      background-position: center;
      filter: var(--filter-text-color);
    }
  }
}
