<div class="wrapper">
  <div class="close" appTouch (click)="close()">
    <img src="assets/icon/icon-close.svg">
  </div>
  <div class="title shadow-colored">Kategórie</div>
  <div class="list-wrapper">
    <div *ngFor="let cat of recipeBookService.getCategories(); let last = last" [ngClass]="{'bordered': !last}" (click)="selectCategory(cat)"
    appTouch>
      <img *ngIf="cat.icon" [src]="cat.icon">
      <span><strong>{{cat.title}}</strong><span>&nbsp;{{cat.subtitle}}</span></span>
    </div>
  </div>
</div>
