:host {
  display: initial;
  position: relative;
}
.wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.title {
  background: var(--primary-color);
  border-radius: 15px;
  color: var(--light-text-color);
  padding: 5px 20px;
  line-height: 18px;
  font-size: 14px;
}

.list-wrapper {
  margin-top: 10px;
  width: 80%;
  max-width: 400px;

  div {
    display: flex;
    color: var(--accent-color);
    line-height: 40px;
    font-size: 17px;

    &.bordered {
      border-bottom: 1px solid var(--header-bg-color);
    }

    img {
      filter: var(--filter-accent-color);
      margin-right: 6px;
    }
  }
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;

  img {
    filter: var(--filter-primary-color);
  }
}
