<app-header title="Tipy & Rady"></app-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="my-refresher">
    <ion-refresher-content
      pullingText="Potiahnite pre obnovenie zoznamu"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="categories">
    <div class="category" appTouch
         *ngFor="let cat of categories"
         (click)="filterTips(cat?.id)"
         [ngClass]="{selected: cat?.id === selectedCatId}"
    >{{cat.name}}</div>
  </div>
  <app-loader [hide]="!isLoading"></app-loader>
  <div class="accordion" *ngFor="let tip of filteredTips">
    <div class="header" (click)="tip.collapsed = !tip.collapsed">
      <div class="title">{{tip.title}}</div>
      <ion-icon name="caret-up-outline" [ngClass]="{'down': tip.collapsed}"></ion-icon>
    </div>
    <div [@slideInOut]="tip.collapsed ? 'out' : 'in'" class="content" [innerHTML]="tip.content"></div>
  </div>

  <div class="locked shadow-colored" *ngIf="isLocked && !isLoading">
    <div class="text-wrapper">
      <div class="title">Balíčky</div>
      <ion-button mode="ios" routerLink="/tabs/tab1/products" appTouch>Kúpiť</ion-button>
    </div>
    <div class="text">
      Po zakúpení akéhokoľvek balíčka sa vám v tejto sekcii odomknú rôzne tipy a rady či iné nápady, ktoré vám pomôžu pri pečení.
    </div>
  </div>

</ion-content>
