.categories {
  display: flex;
  overflow-x: scroll;
  padding: 16px 0 20px;

  &::-webkit-scrollbar {
    display: none;
  }

  .category {
    background: var(--primary-color);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    flex-grow: 0;
    margin-right: 11px;
    color: var(--light-text-color);
    padding: 5px 20px;
    text-align: center;

    &.selected {
      background: var(--accent-color);
    }

    &:first-letter {
      text-transform: capitalize;
    }
  }

  .category:first-of-type {
    margin-left: 24px;
  }

  .category:last-of-type {
    margin-right: 24px;
  }
}
.accordion {
  border-bottom: 1px solid var(--header-bg-color);
  margin: 0 28px;
  .header {
    display: flex;
    font-weight: bold;
    color: var(--accent-color);
    padding: 18px 0;
    .title {
      flex-grow: 1;
    }

    ion-icon {
      transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      &.down {
        transform: rotate(180deg);
      }
    }
  }
  .content {
    color: var(--text-color);
    //margin-top: 17px;
    font-size: 14px;
  }
}

.cake {
  filter: invert(1);
}

.locked {
  margin: 0 25px;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  overflow: hidden;
  .text-wrapper {
    background: var(--accent-color);
    padding: 15px 20px;
    flex-grow: 1;
    display: flex;
    .title {
      font-size: 30px;
      line-height: 30px;
      flex-grow: 1;
    }

    ion-button {
      --background: white;
      --background-activated: var(--primary-color);
      --border-radius: 33px;
      --padding-start: 25px;
      --padding-end: 25px;
      height: 32px;
      font-weight: 700;
      color: var(--accent-color);
    }
  }

  .text {
    background: var(--primary-color);
    padding: 10px 20px;
  }
}
