<app-header [enableToggleRecipeBook]="true"></app-header>
<ion-content [fullscreen]="true">
<!--  <app-refresher (onRefresh)="doRefresh($event)"></app-refresher>-->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="my-refresher">
    <ion-refresher-content
      pullingText="Potiahnite pre obnovenie zoznamu"
      ></ion-refresher-content>
  </ion-refresher>

  <div class="top-controls">
    <app-search-bar (changeText)="onSearch($event)"></app-search-bar>
    <div (click)="showCategoriesModal()" class="cagetories-dropdown shadow-colored" appTouch>
      <span *ngIf="categoryService.selectedCategory">{{categoryService.selectedCategory.title}} {{categoryService.selectedCategory.subtitle}}</span>
      <span *ngIf="!categoryService.selectedCategory">Kategórie</span>
      <img src="/assets/icon/icon-dropdown.svg">
    </div>
  </div>
  <app-loader [hide]="!isLoading"></app-loader>
  <div class="category-title" *ngIf="categoryService.selectedCategory?.id === '1'">Obľúbené recepty</div>
  <ion-grid *ngIf="categoryService.selectedCategory?.id === '1'">
    <ion-row>
      <ion-col size="6" *ngFor="let recipe of getFavouriteRecipes()">
        <app-recipe-item [recipe]="recipe"></app-recipe-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="no-data" *ngIf="categoryService.selectedCategory?.id === '1' && favouriteService.favouriteRecipes?.length === 0">
    Nemáte žiadne obľúbené recepty. Pridajte si ich ťapnutím na ikonku srdiečka v detaile receptu.
  </div>
  <div class="category-title" *ngIf="categoryService.selectedCategory?.id !== '1'">Skvelé recepty</div>
  <ion-grid *ngIf="categoryService.selectedCategory?.id !== '1'">
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let recipe of filteredRecipes.slice(0, 10)">
        <app-recipe-item [recipe]="recipe"></app-recipe-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-buy-package></app-buy-package>

  <ion-grid *ngIf="categoryService.selectedCategory?.id !== '1'">
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let recipe of filteredRecipes.slice(10)">
        <app-recipe-item [recipe]="recipe"></app-recipe-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="no-data" *ngIf="!isLoading && categoryService.selectedCategory?.id !== '1' && filteredRecipes?.length === 0">
    V tejto kategórii neboli nájdene žiadne recepty.
  </div>

  <div class="no-data" *ngIf="!isLoading && (recipes?.length === 0 || !recipes)">
    Žiadne recepty. Máte zapnutý internet?
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="scrollDisabled">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Načítavam ďalšie recepty...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
