ion-grid {
  --ion-grid-padding: 20px;
  padding-top: 0;
}

ion-col {
  --ion-grid-column-padding-xl: 10px;
  --ion-grid-column-padding-lg: 10px;
  --ion-grid-column-padding-md: 10px;
}

.category-title {
  padding-left: 35px;
  color: var(--accent-color);
  font-size: 14px;
  margin-top: 17px;
  line-height: 18px;
}

.top-controls {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cagetories-dropdown {
  color: var(--light-text-color);
  background: var(--primary-color);
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;

  img {
    margin-left: 9px;
  }
}

.no-data {
  padding: 0 20px 20px 20px;
  color: var(--text-color);

}
