.todo-wrapper {
  min-height: 200px;
  margin: 27px 15px;
  border-style: solid;
  border-width: 90px;
  border-image: url(/assets/todo-list-paper.svg) 90 fill stretch;
  position: relative;

  .stamp {
    background: #A7D0DB;
    opacity: 0.7;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    transform: rotate(25.45deg);
    width: 37px;
    height: 65px;
    position: absolute;
    top: -107px;
    left: 51px;
  }

  .todo-list {
    color: var(--light-text-color);
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin: -30px -50px 0 -50px;


    ion-list {
      background: transparent;
      img {
        transform: rotate(45deg) scale(0.6);
      }
    }
    ion-radio-group {
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      ion-radio {
        margin-right: 12px;
        --color: var(--light-text-color);
        --color-checked: var(--light-text-color);
        flex-shrink: 0;
      }

      label {
        flex-grow: 1;
      }
    }

    ion-radio::part(container) {
      background: white;

      .item-inner {
        border: 0 !important;
      }
    }

    ion-radio::part(mark) {
      background: var(--primary-color);
    }

    .checked {
      text-decoration: line-through;
    }
  }
  .plus-wrapper {
    text-align: center;
    margin-top: 28px;
    margin-bottom: -45px;
  }

  .new-item {
    display: flex;

    img {
      width: 21px;
      margin-right: 10px;
      opacity: 0.5;
    }

    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid white;
      color: var(--light-text-color);
      outline: none;
      flex-grow: 1;
      min-width: 0;
      border-radius: 0;
      //margin-right: 20px;
    }
    input::placeholder {
      color: var(--light-text-color);
      opacity: 0.5;
    }
    ion-icon {
      padding: 0 7px;
      font-size: 20px;
      flex-shrink: 0;
      height: 23px;
    }
  }

  .empty {
    margin-top: 15px;
  }

  .share-button {
    position: absolute;
    right: -55px;
    top: -55px;
    background: #fff;
    border-radius: 49%;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 31px;
    height: 31px;

    img {
      transition: filter 0.35s ease-in-out;
    }
  }
}
