<app-header title="Nákupný zoznam"></app-header>
<ion-content [fullscreen]="true">
  <div class="todo-wrapper">
    <div class="stamp"></div>
    <div (click)="share()" class="share-button" appTouch>
      <img src="assets/icon/icon-share.svg">
    </div>
    <div class="todo-list">
      <div class="new-item">
        <img src="assets/icon/icon-plus.svg">
        <input placeholder="názov položky" [(ngModel)]="newItem" (keydown.enter)="addItem()">
        <ion-icon name="checkmark-outline" (click)="addItem()" *ngIf="newItem"></ion-icon>
      </div>
      <ion-list>
        <ion-radio-group *ngFor="let item of shoppingListService?.shoppingList; let i = index" [value]="item.checked">
          <ion-radio slot="start" [value]="true" mode="md" (click)="toggleRadio(item); $event.stopPropagation(); false"></ion-radio>
          <label (click)="toggleRadio(item)" [ngClass]="{checked: item.checked}">{{item.text}}</label>
          <img src="assets/icon/icon-plus.svg" (click)="removeItem(i)">
        </ion-radio-group>
      </ion-list>
      <div *ngIf="shoppingListService?.shoppingList?.length === 0" class="empty">Nákupný zoznam je prázdny</div>
    </div>
  </div>
</ion-content>
