.wrapper {
  width: 100%;
  text-align: center;
  transition: all .7s ease-in-out;
  height: 30px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  overflow: hidden;

  &.hide {
    height: 0;
  }
}
