$dark-pink: #BB6990;
$light-pink: #F5A0C5;
$header-pink: #FFF0F7;
$white: white;
$brown: #442F2F;
$dark-blue: #81B7C4;
$light-blue: #A7D0DB;
$light-yellow: #FBEA87;
$dark-green: #646F60;
$light-green: #CBCDCA;
$background: #fff;
