@import "colors";
@import "font-baloo";

body {
  font-family: 'Baloo Chettan 2', sans-serif;
  --ion-font-family: 'Baloo Chettan 2', sans-serif;
}
.shadow-colored {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

ion-content::part(background) {
  background-color: $background !important;
}

.custom-modal {
  --height: initial;
  .modal-wrapper {
    max-width: 80%;
    //max-height: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
}

.gallery-detail-modal {
  --height: initial;
  --ion-backdrop-opacity: 0.9;
  .modal-wrapper {
    max-width: 100%;
    background: transparent;
    height: 100%;
  }
}

// this is fixing issue with pagination on iOS - after change image, whole page (ion-content) was cutted from bottom
// for 40px
.swiper-pagination.swiper-pagination-bullets {
  position: relative;
  bottom: 40px;
  margin-top: -20px;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  margin: 0 5px !important;
  background: #fff;
}

ion-refresher.my-refresher {
  z-index: 99999999;
  //margin-top: env(safe-area-inset-top);
  //top: calc(70px + env(safe-area-inset-top));
  ion-spinner {
    color: var(--text-color);
  }

  .refresher-refreshing-icon {
    margin-top: 20px;
  }

  .refresher-refreshing-text, .refresher-pulling-text {
    color: var(--text-color);
  }
}

