:host {
  width: 100%;
  padding: 0 20px 20px;
}

.input-wrapper {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  .input {
    background: #fff;
    color: var(--primary-color);
    padding: 8px 15px 8px 40px;
    border: none;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    outline: none;

    &::placeholder {
      color: var(--primary-color);
      opacity: 1;
    }
  }

  .icon {
    background: url("/assets/icon/icon-search.svg") no-repeat;
    filter: var(--filter-primary-color);
    position: absolute;
    width: 32px;
    height: 32px;
    top: 6px;
    z-index: 1;
    left: 9px;
  }

  .icon-right {
    color: var(--primary-color);
    position: absolute;
    width: 32px;
    height: 32px;
    top: 6px;
    z-index: 1;
    right: 9px;
  }
}
