<app-header [showBackButton]="true"></app-header>
<ion-content [fullscreen]="true">
  <div *ngIf="recipe" class="favourite-wrapper" appTouch (click)="toggleInFavourites()">
    <div class="favourite" [ngClass]="{'is-favourite': isInFavourite}">
      <img src="assets/icon/icon-heart.svg" *ngIf="isInFavourite">
      <img src="assets/icon/icon-heart-outline.svg" *ngIf="!isInFavourite">
    </div>
  </div>
  <div *ngIf="recipe" class="share-wrapper" appTouch (click)="share()">
    <div class="favourite">
      <img src="assets/icon/icon-share.svg">
    </div>
  </div>
  <app-gallery [images]="recipe?.images"></app-gallery>
  <div class="title-wrapper shadow-colored">
    <div class="title">{{recipe?.title}}</div>
    <div class="subtitle">{{recipe?.subtitle}}</div>
  </div>
  <div class="category">
    <span *ngIf="recipe">{{recipeBookService.parseCategoriesIntoText(recipe.categories)}}</span>
  </div>
  <div class="meta-info">
    <div class="preparation-time">
      <img src="assets/icon/icon-timer.svg">
      {{recipe?.preparationTime}}
    </div>
    <div class="preparation-time" *ngIf="recipe?.ovenType">
      <img *ngIf="recipe?.ovenType === 'UP_DOWN'" src="assets/icon/icon-oven-up-down.svg">
      <img *ngIf="recipe?.ovenType === 'UP_DOWN_VENT'" src="assets/icon/icon-oven-up-down-vent.svg">
      Rúra
    </div>
    <div class="preparation-time">
      <img src="assets/icon/icon-person.svg">
      {{recipe?.portions}}
    </div>
    <div class="preparation-time">
      <img src="assets/icon/icon-form-size.svg">
      {{recipe?.formSize}}
    </div>
  </div>
  <div class="language-toggling" *ngIf="recipeBookService.selectedRecipeBook === RecipeBookEnum.CHLOP">
    <div class="wrapper">
      <div [ngClass]="{'active': !isSecondLangActive}">Chlap</div>
      <ion-toggle [checked]="isSecondLangActive" (ionChange)="languageChanged($event)"></ion-toggle>
      <div [ngClass]="{'active': isSecondLangActive}">Chlop</div>
    </div>
  </div>
  <app-loader [hide]="!!recipe"></app-loader>
  <div class="perex">{{isSecondLangActive ? recipe?.perexSecondLang : recipe?.perex}}</div>
  <div class="section-title ingredients">Ingrediencie:</div>
  <img src="assets/icon/icon-ingredients.svg" class="section-icon ingredients">
  <div class="ingredients-list">
    <div class="item"*ngFor="let item of recipe?.ingredients">
     <app-ingredients-item [item]="item"></app-ingredients-item>
    </div>
    <div *ngIf="recipe?.ingredients?.length === 0">Pre tento recept nie sú potrebné žiadne ingrediencie</div>
  </div>

  <div class="section-title procedure">Postup:</div>
  <img src="assets/icon/icon-procedure.svg" class="section-icon procedure">
  <div class="procedure-list">
    <div class="item" *ngFor="let item of isSecondLangActive ? recipe?.procedureSecondLang : recipe?.procedure; let i = index">
      <div class="number">{{i + 1}}</div>
      <div class="text">{{item}}</div>
    </div>
    <div *ngIf="recipe?.procedure?.length === 0">Postup pre tento recept nie je dostupný</div>
  </div>
  <div class="perex end" [innerHTML]="recipe?.perexEnd"></div>

  <div class="pizza-beer-wrapper">
    <div class="text">Dobrú chuť :)</div>
    <img *ngIf="recipeBookService.selectedRecipeBook === RecipeBookEnum.RIMKA" src="assets/pizza.svg" class="pizza-beer">
    <img *ngIf="recipeBookService.selectedRecipeBook === RecipeBookEnum.CHLOP" src="assets/beer.svg" class="pizza-beer">
  </div>
</ion-content>
