.favourite-wrapper {
  position: absolute;
  margin: 15px 15px 0 0;
  right: 0;
  z-index: 10;
  padding: 10px;
}

.share-wrapper {
  position: absolute;
  margin: 15px 15px 0 0;
  top: calc(env(safe-area-inset-top) + 122px);
  right: 0;
  z-index: 10;
  padding: 10px;
}

.favourite {
  width: 31px;
  height: 31px;
  background: #fff;
  border-radius: 49%;

  align-items: center;
  display: flex;
  justify-content: center;

  img {
    transition: filter 0.35s ease-in-out;
  }
  &.is-favourite {
    img {
      filter: var(--filter-primary-color);
    }
  }
}

.title-wrapper {
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 16px var(--shadow-colored);
  padding: 10px 20px;
  text-align: center;
  margin: -25px 20px 0;
  z-index: 1;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  color: var(--light-text-color);

  .title {
    font-weight: 700;
    text-transform: uppercase;
  }

  .subtitle {

  }
}

.category {
  color: var(--accent-color);
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  padding: 8px 0;
  border-bottom: .5px solid var(--header-bg-color);
  margin: 0 28px;
}

.meta-info {
  color: var(--accent-color);
  font-size: 12px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0 0 0;

  img {
    filter: var(--filter-accent-color);
    margin-right: 6px;
    width: 14px;
    height: 14px;
  }

  > div {
    display: flex;
    align-items: center;
    margin: 10px;
  }
}

.language-toggling {
  display: flex;
  justify-content: center;
  color: var(--header-bg-color);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;

  .wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    filter: drop-shadow(0px 4px 16px rgba(100, 110, 96, 0.3));
    border-radius: 10px;
    height: 31px;

    div {
      transition: color 0.35s ease-in-out;
    }

    div:first-of-type {
      margin-left: 16px;
    }

    div:last-of-type {
      margin-right: 16px;
    }

    .active {
      color: var(--primary-color);
    }

    ion-toggle {
      margin: 0 7px;
      --background: var(--primary-color);
      --background-checked: var(--primary-color);
      height: 18px;
      width: 34px;
      --handle-width: 15px;
    }
  }
}

.perex {
  color: var(--text-color);
  font-size: 14px;
  line-height: 18px;
  padding: 0 28px;

  &.end {
    margin-top: 20px;
    white-space: pre-line;
  }
}

.section-title {
  display: inline-block;
  color: var(--light-text-color);
  border-radius: 52px;
  padding: 0 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  margin: 22px 20px 10px 20px;

  &.ingredients {
    background: var(--primary-color);
    box-shadow: 0 4px 16px var(--shadow-colored);
  }

  &.procedure {
    background: var(--secondary-color);
    box-shadow: 0 4px 16px var(--shadow-colored-secondary);
  }
}

.section-icon {
  right: 63px;
  position: absolute;
  margin-top: 13px;

  &.ingredients {
    filter: var(--filter-primary-color);
  }

  &.procedure {
    filter: var(--filter-secondary-color);
   }
}

.ingredients-list {
  font-size: 14px;
  line-height: 25px;
  margin: 0 29px;


}

.procedure-list {
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
  margin: 0 29px;

  .item {
    display: flex;
    margin-bottom: 12px;

    .number {
      height: 21px;
      margin-top: 5px;
      font-weight: 700;
      font-size: 20px;
      color: var(--secondary-color);
      border-right: 2px solid var(--secondary-color);
      margin-right: 16px;
      width: 25px;
      display: table;
    }

    .text {
      max-width: calc(100% - 41px);
    }
  }
}

.pizza-beer-wrapper {
  position: relative;
  height: 90px;

  .text {
    color: var(--secondary-light-color);
    margin-top: 30px;
    margin-left: 66px;
    font-weight: 700;
  }

  .pizza-beer {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
